@media screen{
	.only_print {
		display: none;
	}
}

body {
	font-family: Raleway, sans-serif;
}

header {
	background-color: #e9ecef;
}

.KU_image {
	float: left;
	max-height: 5cm;
	max-width: 6cm;
}

.KU_color_text {
	color: rgb(0, 81, 186);
}

.KU_color_background {
	background-color: rgb(0, 81, 186);
}

.profile_picture {
	max-height: 2cm;
	max-width: 3cm;
	border-radius: 20%;
}

.students_info {
	font-weight: bold;
}

#save-name {
	display: inline;
	width: 16em;
	position: relative;
	top: 1px;
}

.scrollable_box {
	max-width: 800px;
	max-height: 200px;
}

ul {
	padding-left: 20px;
}

#course-grid tr {
	height: 90px;
}
#course-grid th {
	padding-left: 10px;
}
#course-grid th, #course-grid td {
	width: 120px;
	min-width: 120px; /*needed because of display flex on contanier*/
	max-width: 120px;
}

.tutorial { /*help text*/
	text-align: center;
	color: #bbb;
	border: 2px dashed #bbb;
}

.ch { /*credit hours*/
	font-weight: normal;
	white-space: nowrap;
}

.ch.error { /*excess hours*/
	color: red;
	font-weight: bold;
}

#transfer-bank tr, #course-bank tr {
	height: 55px;
}
#transfer-bank th, #transfer-bank td, #course-bank th, #course-bank td {
	width: 100px;
	min-width: 100px; /*not sure why, but this is needed or table cells could shrink*/
}

.redips-drag {
	width: 90px;
	height: 45px;
	border-radius: 5px;
	background: #0cc;
	/* Center this within td */
	margin-left: auto;
	margin-right: auto;
	/* Center text within this */
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	line-height: 1;
}

.redips-drag.warning {
	background: #ff6;
	font-weight: bold;
}

.redips-drag.error {
	background: #f44;
	font-weight: bold;
}

#arrows svg {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media print {
    @page {
        margin: 0.5cm;
    }

    header nav, footer {
        display: none;
	}


	.KU_image {
		filter: grayscale(100%) brightness(0%);
	}

	header {
		background: white;
		border-bottom: solid black;
	}

    .no-print {
        display: none;
    }

    .profile_picture {
        max-height: 5cm;
        max-width: 6cm;
    }

    .KU_color_text {
        color: black;
    }


	#schedule-container {
		margin-left: auto;
		margin-right: auto;
	}
	
	/* Hide empty column when printing*/
	#course-grid tr td:last-child {
		display: none;
	}

    .redips-drag {
        background: white;
    }

    * {
        -webkit-print-color-adjust: exact !important;
        color-adjust: exact !important;
    }

    /* all arrows black when printing */
	#arrows svg polyline {
		stroke: black !important;
	}

	.bg-light { background: white !important; }
	.border { border-color: black !important; }
}


/* Unused search bar

.searchbar {
	margin-bottom: auto;
	margin-top: auto;
	height: 30px;
	background-color: white;
	border-radius: 20px;
	padding: 5px;
}

.search_input {
	color: black;
	border: 0;
	outline: 0;
	background: none;
	width: 0;
	caret-color:transparent;
	line-height: 20px;
	transition: width 0.4s linear;
}

.searchbar:hover > .search_input {
	padding: 0 10px;
	width: 450px;
	caret-color: rgb(0, 81, 186);
	transition: width 0.4s linear;
}

.searchbar:hover > .search_icon {
	background: white;
	color:  rgb(0, 81, 186);
}

.search_icon {
	height: 20px;
	width: 20px;
	float: right;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	color: rgb(0, 81, 186);
	text-decoration: none;
}
